$colorHeader         : #d54526;
$actionColor         : #d54526;
$actionColor1        : #4fa8ec;
$actionColor2        : #71cbe0;
$actionButton        : #4fa8ec;
$actionBg            : #71cbe0;
$lightText           : #eeeeee;
$blue                : #6291FF;

$dark0               : #000000;
$dark4               : #444444;
$darkText            : #666666;
$darkText2           : #222222;
$darkText3           : #333333;
$darkText4           : #444444;
$darkText8           : #888888;
$darkTextC           : #cccccc;
$whiteText           : #ffffff;
$whiteTextC          : #cccccc;
$mainText            : #454545;
$cellBorder          : #ddd;

$whiteBackground     : #fff;
$darkBackground      : #f0f0f0;
$darkBackgroundD     : #dddddd;
$darkBackgroundC     : #cccccc;
$darkBackground1     : #252525;
$textInputBackground : #E1E1E1;
$placeholderTextColor: #AFABAB;
$gray                : #DFE1E6;

$darkOpacity1        : rgba(0, 0, 0, 0.10);
$darkOpacity2        : rgba(0, 0, 0, 0.20);
$darkOpacity3        : rgba(0, 0, 0, 0.30);
$darkOpacity4        : rgba(0, 0, 0, 0.40);
$darkOpacity45       : rgba(0, 0, 0, 0.45);
$darkOpacity5        : rgba(0, 0, 0, 0.50);
$darkOpacity55       : rgba(0, 0, 0, 0.55);
$darkOpacity6        : rgba(0, 0, 0, 0.6);
$darkOpacity7        : rgba(0, 0, 0, 0.70);
$darkOpacity75       : rgba(0, 0, 0, 0.75);
$darkOpacity8        : rgba(0, 0, 0, 0.80);
$darkOpacity85       : rgba(0, 0, 0, 0.85);
$darkOpacity9        : rgba(0, 0, 0, 0.9);
$grayOpacity4        : rgba(150, 150, 150, 0.4);
$headerOpacity7      : rgba(213, 69, 39, 0.7);

$facebook            : #3b5998;
$googleplus          : #d14538;
$twitter             : #4394d1;
$whatsapp            : #51ca5e;
$mail                : #cccccc;
$clink               : #666666;
$amazon              : rgba(255, 153, 0,1);

$success             : #7fbd74;
$error               : red;
$warning             : yellow;

$social              : #3b5998;
$cafe                : #4b3621;
$marker              : #16adec;
$carrot              : #e67e22;
$emerald             : #2ecc71;
$wisteria            : #8e44ad;
$peterRiver          : #3498db;
$alizarin            : #e74c3c;
$turquoise           : #1abc9c;
$midnightBlue        : #2c3e50;

$topHeaderHeight     : 60px;